---
import { site } from '../../config.ts'

export interface Props {
    title: string
    image: string
}

const { title, image = '' } = Astro.props
---
<header>
    <section class="title_box">
        <h1 class="title">{ title }</h1>
        <p class="subtitle">{ site.name }</p>
    </section>
    {image ? (
        <section class="illustration">
            <img src={`${image}?nf_resize=fit&w=331&h=279`} alt="" loading="lazy" decoding="async">
        </section>
        ) : null
    }
</header>

<style lang="scss">
    header {
        @apply grid grid-cols-1 md:grid-cols-3 items-center py-16 mb-16 border-b-2;
        .title {
            @apply text-4xl font-extrabold mb-2;
        }
        .subtitle {
            @apply text-2xl;
        }
        .title_box {
            @apply col-span-1 md:col-span-2 order-2 md:order-1;
        }
        .illustration {
            @apply col-span-1 order-1 md:order-2;
        }
    }
</style>