@use './colors';

.site_header {
    display: flex;
    align-items: center;
    height: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    @include colors.bg_white;
}

.site_menu {
    margin-left: auto;
    ul {
        li {
            display: inline;
            list-style-type: none;
            text-align: center;
            font-size: 1.25rem;
            &.last a{
                background-color: pink;
            }
            a {
                text-decoration: none;
                border-radius: 15px;
                padding: 1rem;
            }
        }
    }
}

@media (max-width: 1024px) {
    .site_menu {
        @include colors.bg_white;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        ul {
            padding: 0;
            display: flex;
            justify-items: center;
            li {
                flex: 1 1 auto;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                font-size: 1rem;
                &.last a {
                    background-color: initial;
                }
                a {
                    padding: 0;
                }
            }
        }
    }
}