.btn {
    font-size: 1.5rem;
    padding: 1rem;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
}

@media (max-width: 1024px) {
    .btn {
        font-size: 1rem;
        padding: 0.75rem;
    }
}