---
import { site } from '$/config.ts'
import Navigation from './navigation.astro'
---
<header>
    <a class="header_logo" href="/">
        <img src="/images/dm3.png?nf_resize=fit&w=192" alt={site.name}>
    </a>
    <Navigation/>
</header>

<style lang="scss">
    header {
        @apply flex flex-row items-center py-4 px-4 md:px-8 shadow-lg border-b-2 border-green-800;
    }
    .header_logo {
        img {
            @apply w-48 h-auto;
        }
    }
</style>