---
import { menus } from '$/config.ts'
---
<nav>
    <ul>
    {menus.map(menu => {
        return <li><a href={menu.url} target={menu.newWindow?'_blank':'_self'}>{menu.name}</a></li>
    })}
    </ul>
</nav>

<style lang="scss">
    nav {
        @apply ml-auto hidden md:block;
    }   
    ul {
        @apply flex flex-row gap-4;
        li {
            @apply font-bold text-xl;
            @apply text-black hover:text-green-500 transition;
        }
    }
</style>