---

---

<section id="bottomsection">
    <section>
        <h1>Daftar Sekarang</h1>
        <a class="cta" href="#">Daftar</a>
    </section>
</section>

<style lang="scss">
@use '../../styles/utils.scss';

#bottomsection {
    min-height: 60vh;
    @apply flex flex-col items-center justify-center py-16;
    section {
        @apply flex flex-col items-center gap-4;
        h1 {
            @apply font-extrabold text-2xl md:text-4xl;
        }
    }
}
</style>