---

---

<section id="sosialisasi">
    <section class="soc_title">
        <h1>Sosialisasi Narasi & Informasi Umum DM3</h1>
    </section>
    <section class="soc_img">
        <img src="/images/sosialisasi.jpeg?nf_resize=fit&w=500&h=500" width="500" height="500" alt="sosialisasi" loading="lazy" decoding="async">
    </section>
    <section class="soc_cta">
        <h2>Bergabung Sekarang</h2>
        <div class="soc_btn">
            <a class="cta" href="/sosialisasi">Info</a>
            <a class="cta" href="/sosialisasi-zoom">Zoom</a>
        </div>
    </section>
</section>

<style lang="scss">
@use '../../styles/utils.scss';

#sosialisasi {
    min-height: 60vh;
    @apply grid grid-cols-1 md:grid-cols-2 p-8 md:p-16 gap-4;
    @apply bg-green-50;
    .soc_img {
        @apply flex flex-row justify-center;
        img {
            @apply shadow-lg hover:shadow-xl transition-all;
        }
    }
    .soc_cta {
        @apply flex flex-col items-center justify-center md:items-start gap-4 lg:gap-8;
        h2 {
            @apply font-bold text-3xl md:text-5xl text-center md:text-left;
        }
    }
    .soc_title {
        @apply col-span-1 md:col-span-2;
        h1 {
            @apply font-extrabold text-4xl lg:text-6xl text-center my-8; 
        }
    }
    .soc_btn {
        @include utils.btn_box;
    }
}
</style>