---

---

<section id="sosialisasi">
    <section class="soc_title">
        <h1><a href="/sosialisasi">Sosialisasi Narasi & Informasi Umum DM3</a></h1>
    </section>
    <section class="soc_yt">
        <iframe width="1020" height="630" src="https://www.youtube-nocookie.com/embed/VeR6ssRoQNk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
</section>

<style lang="scss">
@use '../../styles/utils.scss';

#sosialisasi {
    min-height: 60vh;
    @apply flex flex-col justify-center px-8 py-16;
    @apply bg-green-50;
    .soc_title {
        h1 {
            @apply font-extrabold text-4xl lg:text-6xl text-center my-8; 
        }
    }
    .soc_yt {
        @apply aspect-w-16 aspect-h-9;
    }
}
</style>