---
export interface Props {
    title: string
}

import Icons from '$components/site/icons.astro'

const { title } = Astro.props 
---
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
    <Icons/>
    <title>{ title }</title>
</head>
<body>
    <slot/>
    <script type="module">
        import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
        const el = document.createElement('pwa-update');
        document.body.appendChild(el);
    </script>
</body>
</html>