---
layout: main
---
<section id="landing_top">
    <section class="headline">
        <h1>Jadilah Kader Terbaik</h1>
        <p>Persiapkan diri untuk berkontribusi penuh untuk <span id="2045">#JayakanIndonesia2045</span></p>
        <section class="buttons">
            <a href="/sop">Panduan Seleksi</a>
            <a href="/daftar">Daftar</a>
        </section>
    </section>
    <section class="illustration">
        {% include illustrations/stand_out.svg %}
    </section>
</section>