---
import { site } from '$/config.ts' 
import BaseLayout from './base.astro'
import SiteHeader from '$components/site/header.astro'
import SiteFooter from '$components/site/footer.astro'

const { title } = Astro.props || ''
---
<BaseLayout title={ title ? `${title} | ${site.name}` : site.name }>
    <SiteHeader/>
    <main>
        <slot/>
    </main>
    <SiteFooter/>
</BaseLayout>