---
layout: main
---
<section class="layout_section">
    <article>
        <header>
            <h1 class="page_title">{{ title }}</h1>
        </header>
        <main>
            {{ content }}
        </main>
    </article>
</section>